@font-face {
  font-family: minigarden;
  src: url(../fonts/minigarden.otf);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px) scale(1);
            transform: translateX(-1000px) scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px) scale(1);
            transform: translateX(-1000px) scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
}

body {
  max-width: 1800px;
  letter-spacing: 2px;
  margin: 0 auto 0 auto;
}

body a {
  text-decoration: none;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

body a:hover {
  font-size: larger;
}

body h2 {
  text-align: center;
  font-size: 65px;
  font-weight: normal;
  font-family: minigarden;
  color: #41635E;
  margin-bottom: 0;
}

body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  font-family: minigarden;
}

body p {
  font-family: Verdana, sans-serif;
  letter-spacing: 0;
  font-size: 22px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 5% 0 5%;
}

header img {
  height: 150px;
  width: 200px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 50px;
}

header ul li {
  margin-left: 20px;
  font-size: 35px;
  letter-spacing: 2px;
}

header ul li a {
  color: #C3AED5;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .banner {
  height: 100px;
  width: 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: #41635E;
  padding: 10% 0 10% 0;
  margin-top: 80px;
}

main .banner h1 {
  font-family: minigarden;
  letter-spacing: 3px;
  font-weight: normal;
  -webkit-animation: appear 1600ms ease;
          animation: appear 1600ms ease;
}

main .banner--p2 {
  text-align: left;
}

main .banner--p2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -50px 0 0 5%;
}

main .banner--p2 ul li {
  margin: 10px 0 10px 0;
}

main .banner--p2 ul li a {
  font-size: 40px;
  color: white;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

main .banner--p2 ul li a:hover {
  font-size: 45px;
}

main #presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 100px 5% 100px 8%;
}

main #presentation h2 {
  text-align: left;
}

main #presentation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #presentation div p {
  width: 90%;
  color: grey;
}

main #presentation img {
  height: 400px;
}

main #philosophie ul {
  margin: 100px 0 300px -100px;
}

main #philosophie ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  font-size: 40px;
  color: #41635E;
  margin: 0 50px 0 50px;
}

main #prestations ul {
  margin-top: 100px;
}

main #prestations ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 300px;
  text-align: center;
  font-size: 50px;
  background-color: #41635E;
  padding: 40px;
  border-radius: 120px;
  margin: 0 50px 0 50px;
}

main #prestations ul li:nth-child(2) {
  background-color: #C3AED5;
}

main #prestations ul li a {
  color: white;
}

main #services_list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

main #services_list div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 300px;
  font-size: 50px;
  color: white;
  background-color: #41635E;
  padding: 40px;
  border-radius: 120px;
  margin: 0;
}

main #services_list div h2:nth-child(2) {
  background-color: #C3AED5;
}

main #services_list div p {
  width: 45%;
  color: grey;
}
/*# sourceMappingURL=styles.css.map */